set-option -g default-shell /bin/zsh

bind C-a send-prefix

bind r source-file ~/.tmux.conf \; display "Reloaded!"

set -g prefix C-a
bind | split-window -h
bind - split-window -v

# movment between panes
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
#resizing panes
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

# ctrl+k clear pane
bind -n C-k send-keys -R \; clear-history

# new windows will be split in 3 panes
bind c new-window \; split-window -h \; split-window -v

# tell tmux to use 256 colour terminal
set-option -ga terminal-overrides ",xterm-256color:Tc"


# add possibility redefine tab titles
set-option -g set-titles on
# set tab name as Session name
<% if RUBY_PLATFORM.include? 'darwin' -%>
set-option -g set-titles-string '#S'
<% else -%>
set-option -g set-titles-string '#(echo "$USER")@#h #S'
<% end -%>

# increase scrollback buffer size
set -g history-limit 50000

# mouse support - set to on if you want to use the mouse
set -g mouse on
# setw -g mode-mouse on
# set -g mouse-select-pane on
# set -g mouse-resize-pane on
# set -g mouse-select-window on
# setw -g mode-mouse off

# *** Status ***
# pane colors
<% if RUBY_PLATFORM.include? 'darwin' -%>
#set inactive/active window styles like iTerm2
set -g window-style 'fg=colour247,bg=colour236'
set -g window-active-style 'fg=colour250,bg=black'
set -g pane-border-style 'fg=green,bg=colour236'
<% else -%>
set -g pane-border-style 'fg=green,bg=black'
<% end -%>
set -g pane-active-border-style 'fg=green,bg=colour236'

set -g status-left-length 40
set -g status-justify centre

# Status bar settings, style adapted from powerline
set -g status-left '#[fg=colour136]#[bg=colour18] #(echo "$USER") #[fg=colour18]#[bg=colour148]#[fg=colour16]#[bg=colour148]#[bold] #h #[fg=colour148]#[bg=colour16]#[fg=colour16]#[bg=colour202]#[fg=colour16]#[bg=colour202]#[bold] #S #[fg=colour202]#[bg=colour0]'
set -g status-right '#[fg=colour236]#[bg=colour236] #[fg=colour146,bold,bg=colour236,bold]%e.#[fg=colour176,bold,bg=colour236,bold] %b #[fg=colour173,bold,bg=colour236,bold]%Y #[fg=colour12,bold,bg=colour236,bold]#[fg=colour234,bold,bg=colour12,bold] %R '
# set -g status-right-length 100
set -g status-bg "#000000"
setw -g window-status-format '#[fg=colour236,bold,bg=colour8,bold] #I #[fg=colour246,bold,bg=colour236,bold] #W#F '
setw -g window-status-current-format '#[fg=colour202,bold,bg=colour255,bold] #I #[fg=colour236,bold,bg=colour202,bold] #W#F '

# tmux messages are displayed for 4 seconds
set -g display-time 4000

setw -g monitor-activity on
set -g visual-activity on

setw -g mode-keys vi

# *** Plugins ***
# set -g @plugin 'tmux-plugins/tmux-resurrect'
run-shell ~/.dotfiles/tmux/plugins/tmux-resurrect/resurrect.tmux
